@font-face {
    font-family: "APPLESDGOTHICNEOB";
    src: url("./APPLESDGOTHICNEOB.TTF") format("tff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "APPLESDGOTHICNEOEB";
    src: url("./APPLESDGOTHICNEOEB.TTF") format("tff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "APPLESDGOTHICNEOH";
    src: url("APPLESDGOTHICNEOH.TTF") format("tff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "APPLESDGOTHICNEOL";
    src: url("APPLESDGOTHICNEOL.TTF") format("tff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "APPLESDGOTHICNEOM";
    src: url("APPLESDGOTHICNEOM.TTF") format("tff");
    font-style: normal;
    font-weight: normal;
}