<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVI$ION_6.5th</title>
</head>
<body>

<div>
    <a th:href="@{/recruiting}">Recruiting</a>
    <a th:href="@{/mypage}">MyPage</a>
    <a th:href="@{/assignment}">Assignment</a>
    <a th:href="@{/about}">About</a>
    <a th:href="@{/login}">Login</a>
</div>

<h1>EVI$ION</h1>

<div>
    <p>저희 동아리는요~ 동아리 소개적기~</p>
</div>
</body>
</html>

