.attendance-and-assignment {
    margin-top: 200px;
  }

h1{
    color: white;
}
  
  table {
    margin-top: 20px; 
    background-color: #e6e6e6;
    margin: #e6e6e6;
    border-radius: 10px;
    padding: 20px;
    width: 800px;
    top: 100px;
    position: relative;
    left: 430px;
  }
  
  table th, table td {
    border: 1px solid green;
    text-align: left;
    padding: 8px;
    color: green;
  }
  
  .attendance-table th {
    background-color: #f2f2f2;
  }
  
  