/* Recruiting.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  overflow: auto;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.Recruiting {
  text-align: center;
  padding: 20px;
  top: 80px;
}

.description-section {
  min-height: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin-top: 20px;
}

.description-section h1 {
  color: #1a5d1a;
  font-size: 75px;
  padding: 30px;
  margin: 0;
}

.description-section h2,
.description-section h3,
.description-section h4 {
  color: #ffffff;
  font-size: 25px;
  padding: 30px;
  margin: 0;
}

.icon-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.icon-heading svg {
  margin-right: 20px;
}


.recruting2 {
  color: #ffffff;
  font-size: 20px;
  margin: 0;
  padding: 10px;
  position: relative;
  left: 58px;
  top: 0px;
}

.recruting1 {
  color: #ffffff;
  font-size: 20px;
  margin: 0;
  padding: 20px;
  position: relative;
  left: 377px;
  top: 2px;
}

.recruting3 {
  color: #ffffff;
  font-size: 20px;
  margin: 0;
  padding: 20px;
  position: relative;
  left: 85px;
  top: 0px;
}

.recruting1,
.recruting2,
.recruting3 p {
  width: 1000px;
}

.button-section {
  margin-top: 20px;
}

.apply-button {
  background-color: #1A5D1A;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.apply-button:hover {
  opacity: 0.8;
}
