.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}



@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}

.home-header {
  padding-top: 80px !important;
  font-family: "Apples_M";
  font-size: large;
}

.home-section {
  position: relative;
  z-index: -1;
  background-image: var(--image-gradient), url(../../Assets/home-bg.jpg);
  background-position: 10% 100px;
  background-repeat: repeat;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.home-content {
  padding: 9rem 0 2rem !important;
  color: whitesmoke;
  text-align: left;
}

.heading {
  font-size: 2.4em !important;
  padding-left: 50px !important;
}

.heading-name {
  font-size: 2.5em !important;
  padding-left: 45px !important;
}

.main-name {
  color: #e2a600;
}

.Typewriter__wrapper {
  font-size: 2.4em !important;
  color: #a1bf9f !important;
  font-weight: 600 !important;
  white-space: nowrap;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: #1a5d1a !important;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    position: absolute !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
}

.myAvtar {
  justify-content: center !important;
  padding-top: 9em !important;
}



.home-about-section {
  position: relative;
  padding-bottom: 70px !important;
  padding-top: 70px !important;
}

.home-about-description {
  color: #ffffff !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
  text-align: center;
  font-family: "Apples_M";
}

.home-about-body {
  position:absolute;
  padding-top: 50px;
  font-size: 1.5em !important;
  text-align: left;
  left:100px;
  width:800px;
  top:250px;
  font-family: "Apples_L";
}
@media (max-width: 767px) {
    .home-about-section {
      position: relative;
      padding-bottom: 30em !important;
      padding-top: 5em !important;
    }
      
    .home-about-description {
      color: #ffffff !important;
      padding-top: 1em !important;
      padding-bottom: 3em !important;
      text-align: center;
    }
      
    .home-about-body {
      position:absolute;
      padding-top: 4em;
      font-size: 1.2em !important;
      text-align: left;
      left:3em;
      width:30em;
      top:10em;
    }
    .myAvtar {
      padding-top: 40em !important;
      padding-bottom: 2em !important;
    }
}
.home-about-social {
  position: relative;
  text-align: center !important;
  padding-top: 300px;
  color: white !important;
}

.home-about-social-links {
  justify-content: center !important;
  padding-top: 15px !important;
  display: inline-block !important;
  position: relative !important;
  padding-inline-start: 0 !important;
}

.home-social-icons {
  position: relative !important;
  display: inline-block !important;
  width: 40px !important;
  height: 40px !important;
  text-align: center !important;
  font-size: 1.2em !important;
  line-height: 2em !important;
  background: rgba(255, 255, 255, 0.972) !important;
  border-radius: 50% !important;
  transition: 0.5s !important;
}

.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #19503b;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #19503b;
}

.home-social-icons:hover {
  color: #19503b;
  box-shadow: 0 0 5px #19503b;
  text-shadow: 0 0 2px #19503b;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: #19503b !important;
}
